body {
  padding: 0;
  margin: 0;
  background: #42C2EB;
  color: white;
}
.body-container {     
   padding: 20px;
}
    .code-sample {
      background: black;
      color: white;
      padding: 20px 0px ;
      border: solid 1px red;
      display: block;
      width: 100%;
      height: 120px;
      box-sizing: border-box;
    }
    .container {
      position: relative;
    }
    .copy-code-sample {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 0.8em;
      padding: 5px 7px;
      BACKground: purple;
      color: white;
      outline: none;
      border: none;
      
    }
     .copy-code-sample:hover {
       border: solid 1px white;
     }
    .manual-body {
      font-size: 0.7em;
      padding: 10px;
      background: black;
    }
    code {
      color: red;
    }
    ol#messages {
      background: black;
      padding: 10px 30px;
      margin: 0;
    }
.footer {
  background: black;
  color: white;
  padding: 10px 30px;
  width: 100%;
  height: 80px; 
  font-size: 0.7em;
}